.idcard {
    width: 500px;
    height: 600px;
    background-image: url('../assets/id0.png'); /* your PNG */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 10px;
  }
  
  .text-overlay {
    position: absolute;
    color: black;
    font-size: 16px;
    font-weight: 400;
    /*font-style: oblique;*/
  }
  
  .name {
    top: 252px;
    left: 95px;
  }
  
  .centre-code {
    top: 170px;
    left: 150px;
  }
  
  .centre-name {
    top: 200px;
    left: 130px;
    font-size: 11px;
    position: absolute;
    width: 300px;
  }
  
  .contact {
    top: 293px;
    left: 135px;
  }
  
  .serial-no {
    top: 19px;
    left: 110px;
  }

  .exam-name {
    top: 101px;
    left: 122px;
    font-size: 10px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    
    
  }
  
  .exam-date {
    top: 136px;
    left: 114px;
    font-size: 16px;
    font-weight:bolder;
  }
  